.idea
*.o
*.in
tcsh
build-aux
config.h*
config.log
.deps
doc
stamp-h1
libtool
config.status
autom4te.cache
aclocal.m4
tst*
build
*.bak

src/parse/lex.yy.cc
src/parse/location.hh
src/parse/location.hh.bak
src/parse/parsetiger.cc
src/parse/parsetiger.hh
src/parse/parsetiger.hh.bak
src/parse/parsetiger.html
src/parse/parsetiger.output
src/parse/parsetiger.stamp
src/parse/parsetiger.tab.cc
src/parse/parsetiger.tab.hh
src/parse/parsetiger.xml
src/parse/position.hh
src/parse/position.hh.bak
src/parse/scantiger.cc
confdefs.h
configure
configure~
conftest.cpp
conftest.err